# Dependency directories
node_modules/

# Next.js build output
.next/
out/

# NestJS build output
dist/
*.tsbuildinfo

# Local env files
.env
.env.local
.env.development
.env.production
.env.staging

# IDE and Editor configs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db
